# ================================
# Global
# ================================

# Node modules (backend & frontend)
node_modules/
**/node_modules/

# Environment files
.env
.env.*


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log

# OS-specific files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
dist/
build/
coverage/
.cache/
.parcel-cache/
.next/
out/
temp/
tmp/
*.log


frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local


backend/dist/
backend/build/

data/
dump/
